@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
#root > div > div {
  display: flex;
}

body {
  margin: 0;
}